article {
    background-image: linear-gradient(to bottom,
            transparent 50px,
            #fdef67 50px,
            #fdef67 calc(100%-50px),
            transparent 0);
    margin: auto auto 50px auto;
}

.category,
.title,
.footer {
    position: -webkit-sticky;
    /* Required for safari */
    position: sticky;
    height: 50px;
}

.category {
    top: 0;
    font: 41px/57px "Titan One";
    color: #f83d23;
    text-shadow: 3px 3px 0 dodgerblue;
}

.title {
    top: 0;
    font: 50px/60px "Crimson Text";
    color: #fdef67;
    text-shadow: 2px 2px 0 #f83d23;
    background-color: dodgerblue;
    margin: 0;
}

.footer {
    bottom: 100px;
    z-index: -1;
    color: white;
    text-shadow: 1px 1px black;
    background-color: #f83d23;
    width: 80%;
    margin: 50px auto auto auto;
}

body {
    font-family: "Crimson Text";
}

p {
    margin: 10px;
}

.emptyBlocks {
    background-color: #ccc;
    height: 200px;
    margin: 40px auto;
}

article,
.emptyBlocks {
    /*
    width: 80vw;
    max-width: 420px;
    */
    width: min(80vw, 420px);
}